[user]
	name = Surim Kim
	email = kimsuelim@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
  ui = true
; [pager]
; 	log = diff-highlight | less
; 	show = diff-highlight | less
; 	diff = diff-highlight | less
[core]
  quotepath = false
  precomposeunicode = true
  excludesfile = ~/.gitignore
  editor = vim -f
  fscache = true
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true    # use n and N to move between diff sections
  side-by-side = true
  # delta detects terminal colors automatically; set one of these to disable auto-detection
  # dark = true
  # light = true
[merge]
  conflictstyle = diff3
[diff]
	algorithm = patience
  colorMoved = default
[push]
  default = simple
[alias]
	s = status --short --branch
	st = status
	ci = commit
	co = checkout
	br = branch
	di = diff
	wd = diff --word-diff
	pu = pull
	pr = pull --rebase
	tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
	tree = log --graph --pretty=oneline --abbrev-commit --decorate
[url "git@github.com:"]
  pushInsteadOf = "git://github.com/"
  pushInsteadOf = "https://github.com/"
[credential]
  helper = cache
[ghq]
  root = ~/src
[pull]
	rebase = false
[init]
	defaultBranch = main
